<form #frm = "ngForm" (ngSubmit)="updateInfo(frm)">
    <div class="">
        <input type="text" name="location" value="" ngModel>
        <button type="submit" name="button">Add info</button>
    </div>
</form>

<button type="button" (click)='getInfoReceived1()' >Employee 1</button>
<ul class="list-group">
    <li *ngFor="let info of infoReceived1" class="list-groip-item">{{info}}</li>

</ul>
<pre></pre>
<button type="button" (click)='getInfoReceived2()' >Employee 2</button>
<ul class="list-group">
    <li *ngFor="let info of infoReceived2" class="list-groip-item">{{info}}</li>

</ul>
<pre></pre>

<button type="button" (click)='getInfoReceived3()' >Employee 3</button>
<ul class="list-group">
    <li *ngFor="let info of infoReceived3" class="list-groip-item">{{info}}</li>

</ul>
