<h2>App</h2>
<nav>
  <a routerLink="/register" routerLinkActive="active"> <button type="button" class="btn btn-primary">Sign up</button> </a><br><br>
  <a routerLink="/details" routerLinkActive="active"> <button type="button" class="btn btn-primary">Employee details</button> </a>
</nav>