div{
    text-align: center;
}

label{
    text-align: left;
}

.alert{
    background-color: orangered;
    width: 200px;
    align-content: center;
}

.alert-danger{
    color: antiquewhite;
    margin: 15px;
    text-align: center;
    align-self: center;
}