<div class="container">

    <h2>Registration form</h2>
    <form #login="ngForm" (ngSubmit)="submit(login)">
    <div class="form-group">
        <label for="fname">FirstName</label><br>
        <input #name="ngModel" required minlength="2" maxlength="10" type="text" name="fname" class="form-control" ngModel>
        <div *ngIf = "name.touched && name.invalid" class="alert alert-danger">
            <p *ngIf = "name.errors?.required">FirstName required</p>
            <p *ngIf = "name.errors?.minlength"> FirstName too short!</p>

            
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="lname">LasttName</label><br>
        <input type="text" name="lname" class="form-control" ngModel>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="email">Email</label><br>
        <input type="email" name="email" class="form-control" ngModel>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" name="password" class="form-control" ngModel>
    </div>
    <pre></pre>
    <button type="submit" class="btn btn-primary">Register</button></form>

</div>